extends blocks/_layout
append content
  -
    var nav = [
      'Продукция',
      'Декор',
      'Оформление',
      'Услуги',
      'Оплата',
      'Акции',
      'Контакты',
      'Статьи',
      'Галерея',
      'Каталог',
      'Cart',
    ];
  main.main
   